---
body_class: "post-template"
---

{{>header}}

<article class="post">

    <h1 class="post-title">{{title}}</h1>

    <section class="post-content">
        {{#gh-markdown}}
            {{body}}
        {{/gh-markdown}}
    </section>

    <footer class="post-footer">

        {{>author}}

        {{>share}}

    </footer>

</article>

{{>footer}}